<!DOCTYPE html>
<html>

<body>
    <header>
        <strong><em>ONLINE SHOPPING
                <nav>
                    home course
                </nav>
    </header>
    <main>
        main section
        <section>
            section 1
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus itaque temporibus iusto soluta. Quos
                cum dolorum ut debitis enim, vitae eius esse dolores iste voluptatum vero rerum fugiat possimus dolore.
                <article>
                    <ul>
                        <li>HOME</li>
                        <li>contact</li>
                        <li>location</li>
                        <article>
                            <h1>google chrome</h1>
                            <p>Google Chrome is a cross-platform web browser developed by Google. It was launched in
                                2008 for Microsoft Windows and was built with free software components from Apple WebKit
                                and Mozilla Firefox.</p>
                        </article>
                    </ul>
                </article>
                <img src="rose.jpg" alt="rose" width="150" height="200">
                <img src="nature.jpg" alt="nature" width="400" height="300">

            </section>
                <section>
                    section 2
                    <details>
                        <summary>HTML</summary>
                        HYPER TEXT MARKUP language

                    </details>
                </section>
    </main>
    <aside>SIDE BAR</aside>
    <footer>contact</footer>
</body>
<html>

</html>