<!DOCTYPE html>
<html>

<head>
    <title>List in Html</title>
</head>

<body>
    <h1><mark>list</mark></h1>
    <h2>unorderd list</h2>
    <u>fruits</u>

    <ul type="disc">

        <li>apple</li>
        <li>guava</li>
        <li>oraulnge</li>
    </ul>

    vehicles
    <ul type="circle">
        <li>bike</li>
        <li>car</li>
        <li>bus</li>
    </ul>

    <ul>
        <li>
            fruits
            <ul>
                <li>apple</li>
                <li>banana</li>
                <li>kiwi</li>

            </ul>
        <li>
            vegetables
            <ul>
                <li>potato</li>
                <li>beetroot</li>
                <li>chilly</li>
            </ul>
        </li>
        </li>
    </ul>
    <h2>ordered list</h2>
    <ol type="A" start="5">
        <li>apple</li>
        <li>banana</li>
        <li>kiwi</li>
    </ol>
    <ol type="a" start="1">
        <li>apple</li>
        <li>banana</li>
        <li>kiwi</li>
    </ol>
    <ol type="I" start="5">
        <li>apple</li>
        <li>banana</li>
        <li>kiwi</li>
    </ol>
    <ol type="i" start="6">
        <li>apple</li>
        <li>banana</li>
        <li>kiwi</li>
    </ol>
    <ol>
        <li>
            fruits
            <ol type="i">
                <li>apple</li>
                <li>guva</li>
                <li>kiwi</li>

            </ol>
        </li>
        <li>
            vegetables

            <ol type="i">
                <li>apple</li>
                <li>kiwi</li>
                <li>guva</li>
            </ol>


        </li>
        </ol>
        <h2>description list</h2>
        <dl>
            <dt>HTML</dt>
            <dd>hyper text markup language</dd>
            <dt>CSS</dt>
            <dd>cascading style sheet</dd>
            <dt>javascript</dt>
        </dl>


        <ul>
            <li>
                frontend
                <ul>
                    <li>
                        HTML
                        <ol>
                            <li>semantic tag</li>
                            <li>forms</li>
                        </ol>
                    </li>
                    <li>
                        css
                        <ol>
                            <li>flexbox</li>
                            <li>grid</li>


                        </ol>
                    </li>
                </ul>
            </li>
            <li>
                backend
                <ul>
                    <li>
                        node js
                        <ol>
                            <li>file system</li>

                        </ol> 
                    </li>
                    <li>
                        express
                        <ol>
                            <li>routing</li>

                        </ol>
                    </li>

                </ul>
            </li>
            <li>
                database
                <ul>
                    <li>mongo db</li>

                </ul>
            </li>

        </ul>









</html>