<ul>
    <li>
        frontend
        <ul>
            <li>
                HTML
                <ol>
                    <li>semantic tags</li>
                    <li>forms</li>
                </ol>
            </li>

        <li>
            CSS
            <ol>
                <li>flexbox</li>
                <li>grid</li>
            </ol>
        </li>
    </li>
        </ul>
    </ul>
    <ul>
            <li>
                backend
                <ul>
                    <li>
                         node.js
                    <ol>
                        <li>file system</li>
                        </ol>
                    </li>

                    <li>
                        express
                        <ol>
                            <li>routing</li>
                        </ol>
                    </li>
                    </ul>
                </ul>
                <ul>
                        <li>
                            database
                            <ul>
                                <li>
                                    mongo db
                                </li>
                            </ul>
                        </li>
                        </ul>
                    
                        
                               
                

