<!DOCTYPE html>
<html>
    <head>
        <title>table tag</title>

    </head>
    <body>
        <h1>table tags</h1>
        <table border="1">
            <thead>
                <tbody>
                    <tr>
                        <td colspan="5">school time table</td>
                    </tr>
                </tbody>
            <tr>
                <td>phy</td>
                <td>mal</td>
                <td>hindi</td>
                <td rowspan="2">interval</td>
            </tr>
            </thead> 
            <tr>
                <td>mon</td>
                <td>tue</td>
                <td>hindi</td>
            </tr>
        </table>
    </body>
</html>
